/* global styles */
@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;
  font-family: 'Roboto', sans-serif !important;
  h1, h2, h3, h4 {
    font-weight: 300;
  }

}

@media (max-width: 991px) {
    :global(#aggregationsList) {
      align-items: flex-start !important;
      justify-content: flex-start !important;
    }
}

@media (min-width: 992px) {
    :global(#aggregationsList) {
      align-items: center;
      justify-content: center;
    }
}
