/* global styles */
@import 'fonts/roboto';
@import 'typography';
@import 'links';
@import 'screens';

:global(body) {
  position: relative;
  font-family: 'Roboto', sans-serif !important;
  h1, h2, h3, h4 {
    font-weight: 300;
  }
}

//increase container for large screens
@media (#{$large-desktop}) {
    :global(.container) {
        width: auto !important;
        margin-left: 7vw !important;
        margin-right: 7vw !important;
    }
}

//Fixing aggregationsList of <Proposal>
@media (max-width: 991px) {
    :global(#aggregationsList) {
      align-items: flex-start !important;
      justify-content: flex-start !important;
    }
}
@media (min-width: 992px) {
    :global(#aggregationsList) {
      align-items: center;
      justify-content: center;
    }
}

//Fixing tooglePicture of <Proposal>
@media (max-width: 1199px) {
    :global(#togglePicture) {
      align-items: flex-start !important;
      justify-content: flex-start !important;
    }
}
@media (min-width: 992px) {
    :global(#togglePicture #toogleElement) {
        margin-left: 3px;
        margin-right: 3px;
    }
}
